.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

.hidden {
  display: none;
}

.navbar-text {
  display: inline-block;
  color: #fff;
  height: 52px;
  line-height: 52px;
  box-sizing: border-box;
  margin: 0 15px;
}

.navbar-btn-group {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 15px;
  height: 52px;
  line-height: 52px;
}

.navbar-btn {
  display: inline-block;
}

.certificate-btn-group {
  margin-bottom: 10px;
}

.modal-dialog-center {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}